.dice-button {
  border-radius: 16px;
  height: 64px;
  width: 64px;
  background-size: 160% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  margin: 5px;
}

.dice-rack {
  text-align: center;
}

.dice-gray-border {
  border: 4px solid gray;
}

.dice-black-border {
  border: 4px solid black;
}

.dice-red-border {
  border: 4px solid red;
}

@media screen and (max-width: 576px) {
  .dice-button {
    width: 19vw;
    height: 19vw;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}