.container-custom {
    padding: 1vw;
}

.container-custom-inner {
    padding: 5vw;
    margin: 5vw;
    border-radius: 16px;
    border: 4px solid lightskyblue;
}

.container-custom-table {
    height: 90vh;
    text-align: center
}

.conatiner-pagination {
    text-align: center;
}

table th:first-child {
    border-top-left-radius: 16px;
}

table th:last-child {
    border-top-right-radius: 16px;
}

th {
    font-size: 18px;
    background-color: lightskyblue;
    cursor: pointer;
    color: darkslategray
}

th:hover {
    background-color: deepskyblue;
    color: black;
}

tr {
    color: black;
    height: 4vh;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: silver;
}

td {
    border-bottom: 1px solid black;
    text-align: center;
}

.roles {
    text-align: left;
}

.roles li {
    display: inline;
}

.roles li:after {
    content: ", ";
}

.roles li:last-child:after {
    content: "";
}

.button-pagination {
    background-color: lightpink;
    width: 4vw;
    height: 4vw;
    border-style: solid;
    border-radius: 4px;
    margin: 1vw;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid darkslategray;
    color: darkslategray;
}

.button-pagination:disabled {
    background-color: white;
    border-color: darkslategray;
    color: darkslategray;
}

.button-pagination:hover:not([disabled]) {
    background-color: #ff8a9c;
}

.button-pagination:hover {
    border: 2px solid black;
    color: black;
}

.user-button {
    width: 100px;
    height: 50px;
    background-color: lightskyblue;
    border: 2px solid darkslategray;
    border-radius: 6px;
    color: darkslategray;
}

.user-button:hover {
    color: black;
    background-color: deepskyblue;
    border: 2px solid black;
}

.delete-button {
    background-color: lightpink;
    height: 15px;
    width: 50px;
    height: 50px;
    border: 2px solid darkslategray;
    border-radius: 6px;
    background-image: url(/images/misc/trash_closed.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.delete-button:hover {
    background-image: url(/images/misc/trash_open.png);
    background-color: indianred;
    color: black;
    border: 2px solid black;
}

@media screen and (max-width: 576px) {
    tr {
        height: 6vh;
    }

    .button-pagination {
        width: 10vw;
        height: 10vw;
    }
}