.bg-light-pink {
    background-color: lightpink;
}

.bg-light-sky-blue {
    background-color: lightskyblue;
}

.bg-alice-blue {
    background-color: aliceblue;
}

.bg-white {
    background-color: white;
}