.popup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: flex;
	align-items: center;
}

.popup-inner {
	background-color: lightgray;
	font-weight: bold;
	border-radius: 16px;
	border: 5px solid steelblue;
	color: darkslategray;
	position: absolute;
	height: 70%;
	width: 30%;
	left: 35%;
}

.popup-text {
	height: 80%;
	text-align: center;
	display: flex;
	align-items: center;
}

.popup-button {
	margin: 2vw;
	border-radius: 5px;
	border: 1px solid darkslategray;
	color: darkslategray;
	background-color: lightpink;
	font-weight: bold;
	font-size: large;
}


@media screen and (max-width: 576px) {

	.popup {
		width: 100vw;
		height: 100vh;
	}

	.popup-inner {
		margin: 5vw;
		padding: 5vw;
		width: auto;
		height: auto;
		left: 0;
	}

	.popup-button {
		min-height: 10vw;
		min-width: 10vw;
	}
	
}