.popup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: flex;
	align-items: center;
}


.popup-window {
	background-color: lightgray;
	border-radius: 16px;
	border: 5px solid steelblue;
	position: absolute;
	text-align: center;
	display: flex;
	align-items: center;
	height: 70%;
	width: 30%;
	left: 35%;
}

.popup-inner {
	width: 100%;
}

.popup-text {
	text-align: center;
	font-weight: bold;
	font-size: large;
	width: auto;
	color: darkslategray;
}

.popup-button {
	margin: 2vw;
	border-radius: 5px;
	border: 1px solid darkslategray;
	color: darkslategray;
	background-color: lightpink;
	font-weight: bold;
	font-size: large;
}

ul {
	list-style-type: none;
}

@media screen and (max-width: 576px) {

	.popup {
		width: 100vw;
		height: 100vh;
	}

	.popup-window {
		padding: 10vw;
		left: 15vw;
		width: 70vw;
		height: auto;
	}

	.popup-text {
		text-align: left;
	}

	.popup-button {
		min-height: 10vw;
		min-width: 10vw;
	}
}