.popup {
	cursor: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	display: flex;
	align-items: center;
}


.popup-window {
	background-color: lightgray;
	border-radius: 16px;
	border: 5px solid darkslategray;
	position: absolute;
}

.popup-inner {
	padding: 10%;
}

.popup-text {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: large;
	color: darkslategray;
}

.popup-button {
	cursor: pointer;
	margin: 2vw;
	border-radius: 5px;
	border: 1px solid darkslategray;
	color: darkslategray;
	background-color: lightpink;
	font-weight: bold;
	font-size: large;
}

ul {
	padding: 0;
	list-style-type: none;
}

@media screen and (max-width: 576px) {

	.popup {
		width: 100vw;
		height: 100vh;
	}

	.popup-text {
		text-align: left;
	}

	.popup-button {
		min-height: 10vw;
		min-width: 10vw;
	}
}