.scoreboard-button {
    grid-column-start: 6;
    grid-row-start: 12;
    grid-row-end: 17;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.scoreboard {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}