.gray-border {
  border: 1px solid gray;
}

.red-border {
  border: 2px solid red;
}

.form-button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-button {
  background-size: 8vw;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 5px;
}

.rules {
  border-radius: 5px;
  border: 1px solid black;
  background-size: 50% 90%;
  background-position: center center;
  background-repeat: no-repeat;
}

.restart {
  grid-row-start: 9;
  grid-row-end: 11;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
