.box {
	border-radius: 5px;
	border: 1px solid black;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: white;
}

.box:disabled {
	color: black;
}

.box-red-border {
	border: 2px solid red;
}

.box-gray-border {
	border: 1px solid gray;
}

@media screen and (max-width : 576px) {
	.box {
		width: auto;
		height: auto;
		font-size: 22px;
	}
}